<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!customerCreditCardDetails"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Annual Income</th>
      <th>Bank Name</th>
      <th>Card Type</th>
      <th>APR</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customerCreditCardDetails of customerCreditCardDetailsList">
      <td>{{ customerCreditCardDetails.firstName }}</td>
      <td>{{ customerCreditCardDetails.lastName }}</td>
      <td>{{ customerCreditCardDetails.dateofBirth }}</td>
      <td>{{ customerCreditCardDetails.annualIncome }}</td>
      <td>{{ customerCreditCardDetails.bankName }}</td>
      <td>{{ customerCreditCardDetails.cardType }}</td>
      <td>{{ customerCreditCardDetails.apr }}</td>
      <td>{{ customerCreditCardDetails.message }}</td>
    </tr>
  </tbody>
</table>
